<%- include('partials/head'); -%>

<body>
    <p class="intro">Welcome to your todo app. You can create a todo list on the fly without signup. Note the todo list created without signing up is temporary and is centralize, that is to say anyone can see what you wrote and cand write to it at same time. For a private todo list please <a href="/signup">signup</a></p>
    <div class="box" id="heading">
        <h1>
            <%= listTittle %>
        </h1>
    </div>

    <div class="box">
        <% itemList.forEach(todoItem => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= todoItem._id %>" onchange="this.form.submit()">
                    <p><%= todoItem.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTittle %>"></input>
            </form>
        <% }) %>

        <form class="item" action="/" method="post">
            <input class="todoInput" type="text" name="item" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTittle %>>+</button>
        </form>
    </div>
</body>

<%- include('partials/footer'); -%>